<h1>
  Course Manager
</h1>

<h2>
  Students
</h2>

<table>
<tr>
   <td><label>Name </label></td>
   <td><input [(ngModel)]="student.name" ></td>
</tr>
<tr>
   <td><label>ID </label></td>
   <td><input [(ngModel)]="student.id" ></td>
</tr>
<tr>
   <td><label>e-mail </label></td>
   <td><input [(ngModel)]="student.email" ></td>
   <td><button (click)="save(student)">Add</button></td>
</tr>
</table>


<ul class="students">
<ul>
  <li *ngFor="let s of students">
    <span>{{s.name}}</span>,
    <span>{{s.id}}</span>,
    <span>{{s.email}}</span>
  </li>
</ul>
